<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--External Links to Bootstrap-->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
    </script>

    <!--External Link to Google Fonts-->
    <link 
        href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Calligraffitti&family=Sacramento&display=swap"
        rel="stylesheet"> 

    <!--External link to Font Awesome-->
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
    />

    <!--Link to internal CSS stylesheet-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <title>Santa's Helper</title>

    <script src="/js/view.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header class="header shadow-lg text-center" id="header">
        <span>
            Santa's Helper
        </span> 
        <i class="fas fa-gift"></i>
    </header>
   
    {{{ body }}}
    
    <footer class="footer mt-auto py-3 shadow-lg text-center" id="footer"> 
        <span>Project By Robby Ray, Lindsay Bordelon and Lily'okalani Hafoka
            <a
                class="nav-link fab fa-github"
                id="github-link"
                href="https://github.com/rgr5035/Project_2_Local_Edits"
                target="_blank"
            ></a>
        </span>
        </footer>
</body>

</html>