<div class="container" id="main-container">
    <div class="row justify-content-center">
        
       <img 
            src="https://images.unsplash.com/photo-1512909006721-3d6018887383?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGNocmlzdG1hc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" 
            style="width: 600px;" 
            alt="gift image"
            class="rounded-circle"
        >
    </div>

    <div class="row justify-content center p-4">
        <div class="col-m-12">
            <p class="text-center" style="font-size: 30px;">Welcome to Santa's Helper! A simple app for keeping your holiday shopping organized.</p>
        </div>
    </div>
    
    <div class="row justify-content-center mb-5">       
            <a href="/lists" class="btn btn-outline-success rounded-pill" style="width: 30%;">Get Started Now!</a>
    </div>         
        
    
</div>


