<div class="container justify-content-center">
        <div class="row justify-content-center" id="nav-btns-row">
            
            <a class="btn btn-outline-success rounded-pill col" href="/lists">Go to Lists</a>

            <span class="col"></span>
            
        
            <a class="btn btn-outline-success rounded-pill col" href="/search">Search for Gifts</a>
            
        </div>
        <div class="row">
        <form id="item-input">
        <div class="row">
            <div class="form-floating" id="gift-name-input">
                <input id="gift-item-name" class="form-control"></input>
                <label for="search">Gift Name Here</label>
            </div>
        </div>
        <div class="row">
            <div class="form-floating">
                <textarea id="gift-item-desc" class="form-control"></textarea>
                <label for="search">Add Description Here</label>
            </div>
            <br />
            <button type="submit" class="btn btn-outline-success rounded-pill submit" id="submit-btn">Submit</button>
        </div>
        </div>
        </form>
    </div>
    <div class="row" id="row-bottom-buffer">
            
</div>
    <!-- Custom Script -->
    <script src="js/items.js" type="text/javascript"></script>

